<html>
<head>
   <meta charset = "UTF-8">
   <title>zoo database</title>
   
   <!-- Bootstrap core CSS -->
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	
	<!-- customized css -->
   <link rel="stylesheet" href="/css/style.css" type="text/css">
   </head>
   
   <body>
   <div class="container-fluid">
		<div class="text-center">
			<h3>Fantasia Zoo Database</h3>
		</div>
		<!-- Horizontal Nav Bar -->
		<nav class="navbar flex-column flex-sm-row justify-content-between align-items-center">
			<a class="nav-link" href='/'>Home</a>
			<a class="nav-link" href='/animals'>Animals</a>
			<a class="nav-link" href='/employees'>Employees</a>				
			<a class="nav-link" href='/facilities'>Facilities</a>
			<a class="nav-link" href='/tours'>Tour</a>
			<a class="nav-link" href='/animal_employee'>Animal-Employee</a>
			<a class="nav-link" href='/animal_tour'>Animal-Tour</a>				
			<a class="nav-link" href='/employee_facility'>Employee-Facility</a>
			<a class="nav-link active" href='/employee_tour'>Employee-Tour</a>
		</nav>
	</div>
  
	<div class="container-fluid main-body">
		<div class="text-center">
			<h5 class="title">Employee-Tour Table</h5>
			Tour: {{tour_of_interest}}
		</div>
		
		<!-- table to display current employee-tour relationship -->
		<table class="table table-bordered table-sm text-center table-striped" id="myTable">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Employee ID</th>
					<th scope="col">Employee Name</th>
					<th scope="col">Tour ID</th>
					<th scope="col">Tour Name</th>
					<th scope="col">Delete</th>
					<th scope="col">Update</th>
				</tr>
			</thead>
		   
		   <tbody>
				{{#each employee_tour}}
				<tr>
					<td>{{eid}}</td>
					<td>{{employee_name}}</td>
					<td>{{tid}}</td>
					<td>{{tour_name}}</td>
					<td><button class="btn btn-dark btn-sm" value="Delete" onclick="deleteEmployeeTour({{eid}},{{tid}})">Delete</button></td>
					<td><a class="btn btn-dark btn-sm" href="/employee_tour/eid/{{eid}}/tid/{{tid}}">Update</a></td>
				</tr>
                {{/each}}
			</tbody>
		</table>
	
              <form id='filter_employee_tour' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <fieldset>
    <label> Filter employee by tour </label>
    <select id='employee_tour_filter' name="employee_tour_filter"> 
				{{#each tour}}
					<option value='{{tid}}'>{{tid}} {{tour_name}}</option>
				{{/each}}
    </select>
    <input type="button" value="Filter" class="btn btn-outline-dark btn-sm" onclick="filterEmployeeByTour()">
    </fieldset>
</form>
</div>
<br><br>



	<!-- Form to add an employee-tour relationship -->
	<form id="addEmployeeTour" action="/employee_tour" method="post">
		<fieldset class="border p-2">
			<legend class="w-auto">Add an employee-tour relationship</legend>
			Employee
			<select name="eid">
				{{#each employee}}
					<option value='{{eid}}'>{{eid}} {{employee_name}}</option>
				{{/each}}
			</select>
			<br><br>
			Tour
			<select name="tid">
				{{#each tour}}
					<option value='{{tid}}'>{{tid}} {{tour_name}}</option>
				{{/each}}
			</select>
			<br><br>
			<input type="submit" class="btn btn-outline-dark btn-sm" value="Add">
		</fieldset>
	</form>
	<br><br>
	
   </body>   
</html>