<html>
<head>
   <meta charset = "UTF-8">
   <title>zoo database</title>
   
   <!-- Bootstrap core CSS -->
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	
	<!-- customized css -->
   <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
	<div class="container-fluid">
		<div class="text-center">
			<h3>Fantasia Zoo Database</h3>
		</div>
		<!-- Horizontal Nav Bar -->
		<nav class="navbar flex-column flex-sm-row justify-content-between align-items-center">
			<a class="nav-link" href='/'>Home</a>
			<a class="nav-link" href='/animals'>Animals</a>
			<a class="nav-link" href='/employees'>Employees</a>				
			<a class="nav-link" href='/facilities'>Facilities</a>
			<a class="nav-link active" href='/tours'>Tour</a>
			<a class="nav-link" href='/animal_employee'>Animal-Employee</a>
			<a class="nav-link" href='/animal_tour'>Animal-Tour</a>				
			<a class="nav-link" href='/employee_facility'>Employee-Facility</a>
			<a class="nav-link" href='/employee_tour'>Employee-Tour</a>
		</nav>
	</div>
	<div class="container-fluid main-body">
	<!--	<div class="text-center">
			<h5 class="title">Update {{animal.name}}:</h5>
		</div>
	-->
		<form id="update_tour"> <!-- action="/animals" method="post"> -->
		<fieldset class="border p-2">
		<legend class="w-auto">Update information on tour: {{tour.name}} (id: {{tour.id}})</legend>
		Name <input type="text" name="name" value="{{tour.name}}" required><br><br>
		Day
			<select name="day" required>
				<option value="{{tour.day}}">{{tour.day}}</option>
				<option disabled>----------</option>
				<option value="Monday">Monday</option>
				<option value="Tuesday">Tuesday</option>
				<option value="Wednesday">Wednesday</option>
				<option value="Thursday">Thursday</option>
				<option value="Friday">Friday</option>
				<option value="Saturday">Saturday</option>
				<option value="Sunday">Sunday</option>
			</select>
			<br><br>
		Time <input type="text" name="time" value="{{tour.time}}" required><br><br>
		Length<input type="number" name="length" value="{{tour.length}}"><br><br>
		Capacity<input type="number" name="capacity" value="{{tour.capacity}}"><br><br>
		<input type="submit" class="btn btn-outline-dark btn-sm" value="Update" onclick="updateTour({{tour.id}})" >
		</fieldset>
		</form>
	</div>
</body>
</html>
